<!--This is the file where we include the form where the user submits information to book a flight-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Booking</title>
    <style>

      body{
        color:black;
          background-color: beige;
        font-size: large;
        
      }
    </style>
  </head>

  <body>
    <h1>Book Order Form</h1>
    <script>
      window.onsubmit = runSubmit;
      function runSubmit() {
        pN = process.argv[2];
        res = `http://localhost:${pN}`;
        document.getElementById("x").action = res;
      }
    </script>
    <form method="post" id="x" action="/booking">
      <fieldset>
        <label
          ><strong>Name:</strong
          ><input type="text" name="passengername" required
        /></label>
        <br /><br />
        <label
          ><strong>Email Address:</strong
          ><input type="email" name="email" required /></label
        ><br /><br />
        <label
          ><strong>Flight Number/Airline:</strong
          ><input type="text" name="crn" required /></label
        ><br /><br />
        
        <fieldset>
          <legend><strong>PRICES</strong></legend>
          <ul>
            <li>WORKING FLIGHT: $700</li>
            <li>PREMIUM FLIGHT: $850</li>
            <li>ELITE FLIGHT: $1000</li>
          </ul>
          <br><br>
          <select name="price" required>
            <option value="">Select</option>
            <option value="W">Working</option>
            <option value="P">Premium</option>
            <option value="E">Elite</option>
          </select>

        </fieldset> 
      
        

        <div id="hidden2"><!--WANT TO DISPLAY THIS AFTER USER SUBMITS INFORMATION AND WANTS TO PROCEED-->
          <br /><br />
          <u>Credit Card # </u>
          <input type="text" id="cc1" name="cc1" maxlength="4" required />
          -
          <input type="text" id="cc2" name="cc2" maxlength="4" required />
          -
          <input type="text" id="cc3" name="cc3" maxlength="4" required />
          -
          <input type="text" id="cc4" name="cc4" maxlength="4" required />

          <br /><br />
          

          

          <label for="shippingAddress"
            ><u>Shipping Address </u>
            <input
              type="text"
              id="shippingAddress"
              name="shipping"
              maxlength="80"
            />
          </label>

          <!-- <br /><br />
          <u>Contact Email Address:</u
          ><input
            type="email"
            id="email"
            placeholder="user@gmail.com"
            name="email"
          /> -->
          <br /><br />
        </div>

        
      </fieldset>

      <br />
      <input type="reset" />
      <input type="submit" value="Submit Application" />
      <hr />
      <a href="/">HOME</a>
      <!--****GOES TO HOME DIRECTORY ****-->
      <script>
        window.onsubmit = run;
        function run() {
          window.confirm(
            "Are you sure you want to submit your application?\nYou will not be able to change your information once submitted.\n"
          )
            ? true
            : false;
        }
      </script>
    </form>
  </body>
</html>
