<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
</head>

<body>
	<h1>Display Booking</h1>
		<fieldset>
			<label for="passenger"><strong>Passenger Name:</strong> <%= passengername %> </label><br>
        <label for="flight"><strong>CRN:</strong> <%= crn %> </label><br>
		<label for="info"><strong>Additional Info:</strong> <%= info %> </label><br>

        <strong>Have a safe flight!</strong>



	</fieldset>
	<br>

        
	<a href="/">HOME</a>

	

</body>

</html>