<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
	<style>
		#display {
			display: inline;
		}
	</style>
</head>
<script>
	function calcPrice() {
		let inp = "<%= price %>";
		let p;
		if (inp === "W") {
			p = 700;
		} else if (inp === "P") {
			p = 850;
		} else if (inp === "E") {
			p = 1000;
		}
		document.querySelector("#display").innerHTML = p;
	}
	window.onload = function () {
		calcPrice();
	};
</script>

<body>
	<h1>Booking Confirmation</h1>
	<fieldset>
		<label for="passenger"><strong>Passenger Name:</strong>
			<%= passengername %>
		</label><br><br>
		<label for="flight"><strong>Flight Number:</strong>
			<%= crn %>
		</label><br><br>
		<label for="price"><strong>Price:</strong> $<div id="display"></div></label><br><br>

		<strong>Have a safe flight!</strong>



	</fieldset>
	<br>


	<a href="/">HOME</a>



</body>

</html>