<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
	<style>

		body{
			color:black;
    		background-color: beige;
			font-size: large;
			
		}
	</style>
</head>

<body>
	<h1>Flight Successfully Canceled</h1>
		<fieldset>
			<label for="passengername"><strong>Your Name:</strong> <%= passengername %> </label><br>
        <label for="flight"><strong>Your Flight:</strong> <%= crn %> </label><br>




	</fieldset>
	<br>

        
	<a href="/">HOME</a>

	

</body>

</html>