<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
</head>

<body>
	<h1>Display Booking</h1>
		<fieldset>
		<strong><label for="passenger">Paasenger Name: <%= passengername %> </label></strong>


        <strong><label for="flight">Flight Name: <%= flightname %> </label></strong>
		<strong><label for="price">Price: <%= price %> </label></strong>

		<strong>Have a safe flight!</strong>



	</fieldset>
	<br>

        
	<a href="/">HOME</a>

	

</body>

</html>