<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
</head>

<body>
	<h1>Display Flight</h1>
	<form id="delete" action="/submit" method="post">
		<fieldset>

        <strong><label for="name">Flight Name: </label></strong>
        <input type="text" id="name" name="name" required>

	</fieldset>
	<br>

        <button type="submit">Submit </button> <hr>
    </form>
	<a href="/">HOME</a>

	

</body>

</html>