<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Display GPA</title>
</head>

<body>
	<h1>Filter flight by ???</h1>
	<form action="/filterflight" method="post">
		<strong><label for="gpa">Flight Info: </label></strong>
		<input type="gpa" id="gpa" name="gpa" required> <br> <br>


		<br>
		<input type="submit" value="Submit Request"/>
		<hr>
	</form>
	<a href="/">HOME</a>

</body>

</html>