
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Flights</title>
</head>

<body>
	<h1>Welcome to Flight Tracker</h1>
        <h3>Flight Information</h3>
        <ul>
                <li>See all the current flights happening around the world<a href="/viewflights">Application</a> </li>
        </ul>
        <hr>
        <h3>Book a Flight</h3>
        <ul>
                <li>Click here to book a flight <a href="/book">from our database</a></li>
        </ul>
        <hr>
        <h3>Cancel your flight</h3>
        <ul>
                <li>To cancel your flight, click <a href="/remove">here</a></li>
        </ul>
        <hr>
        

</body>

</html>