    <!-- prob not needed, will delete -->

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Insert</title>
</head>

<body>
	<h1>Select Flight</h1>
	<form id="apply" action="/submit" method="post">
		<fieldset>

        <strong><label for="name">Flight Name:</label></strong>
        <input type="text" id="name" name="name" required>

	</fieldset>
    <!-- possibly will add more stuff -->

	<br>

        <button type="submit" onclick="confirmSubmit()">Submit Application</button> <hr>
    </form>
	<a href="/">HOME</a>



</body>

</html>
